<%- include("partials/header.ejs");                            _%>
<%- include("partials/nav.ejs");                               _%>
    <div class="container">
    <div class="row">

<%- include("partials/filterpanel.ejs");                       _%>

    <main class="col-md-9">
        <div class="row">
<%      if (products) {                                        _%>
<%          products.forEach((product, i) => {                 _%>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="<%=product.image_uri%>">
                    <div class="card-body">
                        <a href="/products/details/<%=product._id%>">
                            <p class="my-1"><%=product.name%></p>
                        </a>
                        <p class="my-1">$<%=product.price%></p>
                    </div>
                </div>
            </div>
<%          });                                                 _%>
<%      } else {                                                _%>
            <div class="col">
            Sorry, No Items Found!
            </div>
<%      }                                                        %>
        </div>
    </main>
<%  if (req.user) {                                              %>
<%-     include("partials/sidebar.ejs");                        _%>
<%  }                                                            %>

    </div>
    </div>
<%- include("partials/footer.ejs");                             _%>
